body{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.mother-div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}



.first{
    flex: 1;
    font-size: 20px;
    background-color: #292a2d;
    color: #64b5f6;
    padding-left: 13%;
    padding-right: 5%;
    padding-top: 18%;
    padding-bottom: 25%;
    
    
    
}
.second {
    flex: 1 1;
    padding-left: 8%;
    padding-right: 0%;
    padding-top: 15%;
    padding-bottom: 25%;
    font-size: 25px;
}