@font-face{
    src: url(./raleway.ttf);
}
body{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.mother-div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
}

.first{
    flex: 1;
    font-size: 20px;
    background-color: #292a2d;
    color: #64b5f6;
    padding-left: 9%;
    padding-right: 8%;
    padding-top: 18%;
    padding-bottom: 4.2%;   
}

.second {
    flex: 1 1;
    font-size: 25px;
    padding-left: 7%;
    padding-right: 0%;
    padding-top: 14%;
    padding-bottom: 4.2%;
    background-image: url(./image/aks.jpg);
    background-size: 30%;
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: center;
    
}


.fourth {
    margin-top: 21%;
    margin-bottom: 0%;
    font-size: 13px;
}

.fifth {
        margin-top: 2%;
        width: 50%;
        padding: 4%;
        background-color: #75a5e4;
        color: black;
        font-size: 20px;
        border-radius: 10px;
        font-weight: 500;
    }


    .sixth {
        margin-left: 80%;

    }
    
